<!DOCTYPE html>
<html>
  <head>
    <title>BfrpgToolkit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <% if alert.present? %>
        <div class="bg-red-300 text-red-500 px-3 py-2">
          <%= alert %>
        </div>
      <% end %>

      <% if notice.present? %>
        <div class="bg-blue-300 text-blue-500 px-3 py-2">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
